<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-row>
    <ion-title>SaveThePlate</ion-title>
    <ion-button [routerLink]="['/login']" color="warning" class="signin">Sign in</ion-button>
    <ion-button [routerLink]="['/signup']" color="dark" class="signup">Sign up</ion-button>
  </ion-row>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" class="content-container">
<div class="container"> 
  <swiper-container [modules]="swiperModules" [slidesPerView]="1" [loop]="false">
    <swiper-slide>
      <img src="assets/tip1.png" alt="Tip 1" >
      <button expand="block" class="next">Continue</button>
    </swiper-slide>
    <swiper-slide>
      <img src="assets/tip2.png" alt="Tip 2" >
      <button expand="block" class="next">Continue</button>
    </swiper-slide>
    <swiper-slide>
      <img src="assets/tip3.png" alt="Tip 3" >
      <button expand="block" class="next" [routerLink]="['/signup']">Sign Up</button>
    </swiper-slide>
  </swiper-container>
</div>

</ion-content>
