<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-row>
    <ion-title>SaveThePlate</ion-title>
    <ion-button [routerLink]="['/login']" color="warning" class="signin">Sign in</ion-button>
    <ion-button [routerLink]="['/signup']" color="dark" class="signup">Sign up</ion-button>
  </ion-row>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

  <swiper-container [slidesPerView]="1" [loop]="true">
    <swiper-slide><img src="assets/tips.png" alt="Slide 1" style="height: 100%;"></swiper-slide>
    <swiper-slide><img src="assets/tip2.png" alt="Slide 1" style="height: min-content;"></swiper-slide>
    <swiper-slide><img src="assets/tip3.png" alt="Slide 1" style="height: 100%;"></swiper-slide>
  </swiper-container>
  
</ion-content>
